* {
    user-select:none;
}


.card {
    height: 100px;
    width: 100px;
    background-color:#c37146 ;
    margin: 5px;
    border-radius: 25%;
    display: flex;
    align-items: center;
    justify-content: center;   
    font-family: 'Montez',cursive;
    font-size: 90px;
    transition: transform 0.3s ease,
                 background-color 0.5s ease;
}

.card:hover {
    background-color: #ffa678;
    transform: scale(1.10);
}

#cards{
    display: flex;
    background-color: #ffe8d3;
    align-items: center;
    flex-wrap: wrap;
    max-width: 450px;
    padding: 25px;
    border-radius: 25px;
    margin-top: 10px;
}
body {
    display: flex;
    
    justify-content: center;
}
#ui {
    display: flex;
    background-color: #ffe8d3;
    border-radius:25px ;

}
h1 {
    padding-inline: 50px;
}